tests/node_modules/
node_modules/
simple-example/node_modules
simple-example/jspm_packages


*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.idea
!.idea/runConfigurations/*
