<!DOCTYPE html>
<html>
<head>
    <title>socket.io-rpc test angular client</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--uncomment es5-shim for IE8 support-->
    <!--<script type="text/javascript" src="/es5-shim.js"></script>-->

</head>
<body>
    <h1>Angular socket.io-rpc test/showcase</h1>
    <!--You can also use regular ng-controller, but then you have to load channel yourself by calling
    $rpc.loadChannel('myChannel'); inside it-->
    <div rpc-controller="testCtrl" rpc-channel="myChannel">
        getTime: <span ng-bind="serverTime"></span> <button ng-click="getTime()">getTime()</button><br>
        asyncTest: {{ asyncTest }}
    </div>
    <div rpc-controller="secondCtrl" rpc-channel="myChannel">
        getTime: <span ng-bind="serverTime"></span> <button ng-click="getTime()">getTime()</button><br>
        asyncTest: {{ asyncTest }}
    </div>
    <script src="jspm_packages/system.js"></script>
    <script src="ng-config.js"></script>
    <!--include the minified bundle in production, where every bit counts-->
    <script src="/rpc/rpc-client-angular-bundle.min.js"></script>
    <script type="text/javascript">
        System.import('ng-main').then(function() {
            var injector = angular.bootstrap(document, ['app']);
        });
    </script>

</body>

</html>